*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: boder-box;
}

/* header  */
.navbar{
    background-color: #0f1111;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1  */
.nav-logo{
    height: 50px;
    width: 113px;

}
.logo{
    background-image: url(Images/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2  */
.add-icon{
    display: flex;
    align-items: center;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 6px;
}

/* bpx3  */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    background-color: plum;
    width: 640px;
    height: 35px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
}

/* box4  */
span{
    font-size: 0.8rem;
}
.nav-second{
    font-size: 0.9rem;
    font-weight: 700;
}

/* bpx5  */
.nav-cart i{
    font-size: 28px;
}
.nav-cart{
    font-size: 0.9rem;
    font-weight: 700;
}

/* panel  */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops {
    width: 66%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* Hero-section  */
.hero-section{
    background-image: url(Images/hero_image.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(213, 245, 245, 0.909);
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 91%;
    margin-bottom: 30px;

}

/* cart section  */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 95%;
    margin: auto;
    margin-top: 30px;
  }
  .card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .card h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .card img {
    width: 100%;
    margin: auto;
  }
  .card p {
    font-size: 16px;
    margin-top: 20px;
  }

  /* Strip  */
  .strip-container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    width: 95%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-radius: 8px;
  }
  .strip-img{
        padding: 20px;
  }
  .h2-heading{
    margin-top: 20px;
    text-align: center;
  }


  /* cartWithPrice  */
  .cart-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 95%;
    margin: auto;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
  }
  .cart-item {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    padding: auto;
    
    
  }
  .cart-item img {
    padding-left: 20px;
    
  }

  .cart-item h2 {
    font-size: 20px;
    margin: 0;
  }
  .cart-item .price {
    font-size: 18px;
    font-weight: bold;
  }
  .cart-item .discount {
    font-size: 14px;
    color: #888;
  }
  .cart-item .description {
    font-size: 16px;
  }
  .shoping{
    background-color: red;
    font-size: 15px;
    color: white;
    padding: 7px;
  }


  /* Footer-Strip */
  .foot-strip{
    text-align: center;
    margin-top: 30px;
    /* background-color:#cccccc; */
    padding-top: 20px;
  }
  .foot-btn{
    width: 225px;
    margin-top: 8px;
    border: none;
    background-color: #f3cd00;
    padding: 5px;
    border-radius: 6px;
    font-size: 15px;
    
    
  }
  .foot-p{
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .foot-p a{
    font-size: 12px;
  }
  hr{
    color: #f3cd00;
  }
  .back-p{
    background-color: #242a31;
    /* height:50px; */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    text-decoration: none;
 }

