*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: boder-box;
}

/* header  */
.navbar{
    background-color: #0f1111;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 113px;

}
.logo{
    background-image: url(Images/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.add-icon{
    display: flex;
    align-items: center;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 6px;
}